@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.content-container {
    @apply sm:px-6 lg:px-8
}

.dropdown-trigger {
    @apply flex items-center text-sm font-medium text-gray-400 hover:text-gray-500 hover:border-gray-300
    focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out
}

.card {
    @apply overflow-hidden shadow-sm
}

.card-inner {
    @apply p-4
}

.form-label {
    @apply block text-gray-700 text-sm font-bold mb-2
}

.form-input {
    @apply shadow appearance-none border py-2 px-3 leading-tight focus:outline-none
}

.form-textbox {
    @apply shadow mt-1 block w-full border w-full py-2 px-3 leading-tight focus:outline-none
}

.default-button {
    @apply font-bold px-4 focus:outline-none
}

.success-button {
    @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 focus:outline-none
}

.primary-button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none
}

.primary-table {
    @apply table table-auto min-w-full divide-y
}
.primary-table tr:nth-child(even) {
    background-color: #f2f2f2
}
.primary-table-header {
    @apply text-left text-xs font-medium text-gray-500 uppercase tracking-wider
}

.overlay {
    @apply absolute top-0 left-0 right-0 bottom-0;
}

.font-sans {
    font-family: 'Open Sans', sans-serif;
}

.hero-image {
    background-image: url('/images/sbp1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80%;
    height: 600px;
}

.bg-dark {
    background-color: #1e1e1e;
}

.border-dark {
    color: #1e1e1e;
}

.max-w-8xl {
    max-width: 80rem;
}
.max-w-9xl {
    max-width: 90rem;
}
.max-w-100xl {
    max-width: 100rem;
}

.-letter-space-5 {
    letter-spacing: -0.15rem;
}
.-z-1 {
    z-index: -1;
}

.thumbnail-text {
    font-family: 'Arial', sans-serif;
}

@screen md {
    .thumbnail-img {
        width: 350px;
        height: 150px;
    }
}
